.no-dizmo-drag {
  -webkit-dashboard-region: dashboard-region(control rectangle);
  -webkit-user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

#front {
  height: 100%;
  width: 100%;

  #pager {
    bottom: 0;
    height: 54px;
    right: 0;
    position: absolute;
    width: 100%;

    #pager-lhs,
    #pager-rhs {
      background: #e6e6e6 center no-repeat;
      border: 1px solid #2d2c2d;
      border-radius: 4px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
      height: 34px !important;
      position: relative;
      width: 34px !important;
      z-index: 9999;
    }

    #pager-lhs:active:not([disabled]),
    #pager-rhs:active:not([disabled]) {
      border: 1px solid rgb(194, 194, 194);
      background-color: rgb(194, 194, 194);
      box-shadow: none;
      color: rgb(25, 25, 25);
    }

    #pager-lhs:active:not([disabled]),
    #pager-rhs:active:not([disabled]) {
      -webkit-filter: "invert(1.0)";
    }

    #pager-lhs:not(:active),
    #pager-rhs:not(:active) {
      opacity: 0.90;
    }

    #pager-lhs[disabled],
    #pager-rhs[disabled] {
      opacity: 0.10;
    }

    #pager-lhs {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wIKCTYEu2HZvQAAAMVJREFUSMfllsENwjAMRV86T6xy7AiwWdWFYAV6ojj7hEsr9dAUNwlCAl8SRcr7duwvBf4uxIub11689OuzrXAZcAEmIK4YnQa9b91pMuELeEnwkrrXZMLN0VSC37J6YIBH4KlBT4cFjHDVoO1eku6T8HcVxFJ4ssmzgVICoxV+yAe58bUnckC7k5SIl6m0giqTlOyBBo2AGip5ZDfZKNKKly57igwiAOeiMTWKlPlgQySuzHitYrRFRIM6YACGeT/+7ifhBcPEYY2pR6SaAAAAAElFTkSuQmCC);
      float: right;
      right: 31px;
      top: 0;
    }

    #pager-rhs {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH3wIKCTUt0v4SEgAAAMZJREFUSMfdlUEOgjAQRd8Qj8PIUo+gNyNcSI9gXEmG++CmJN0wtKW6YDYQ2vxHO/9n4LClrUp49tpqH3/LKXEAF+AFzNHeDjCbbE4FNM7aPRJefmQENOckTcHtZUE8wLMGRDYa/QHOzr7NnkiCm0ZASyGSaNliiGTkwoXYZLLLRTZZB7xXlucljDVsWifJf72ilCavZeLnNm0SgqZ7gnZyxK9BgFLxrRPc9oqX2jRrJniAxxKiaOhUHTjv4O0BGMJ7lvgx6gvMx16OFYaayQAAAABJRU5ErkJggg==);
      float: right;
      right: 23px;
      top: 0;
    }

    #pager-idx {
      color: dimgray;
      float: left;
      font-size: smaller;
      height: 36px !important;
      left: 16px;
      line-height: 39px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      top: 0;
      width: 36px !important;
    }
  }

  #md-logo {
    background: no-repeat center;
    background-size: 67%;
    height: 100%;
    width: auto;
  }

  #md-toc {
    display: none;
    height: 100%;
    position: fixed;
    margin-right: 8px;
    right: 0;
    width: 254px;
    z-index: 4999;
    #md-toc-home {
      background: url(image/home.svg) center no-repeat;
      background-size: 67%;
      height: 34px;
      width: 34px;
      margin: 0 0 0 8px;
    }
    #md-toc-search {
      border: 1px solid #a1a1a1;
      border-radius: 4px;
      height: 34px;
      margin: 0 0 0 8px;
      padding: 0 32px 0 8px;
      width: calc(100% - 50px);
    }
    #md-toc-items-wrap {
      height: calc(100% - 42px);
      position: relative;
      overflow: hidden;
      width: 100%;

      #md-toc-items {
        margin-top: 8px;
        padding-left: 8px;
        width: calc(100% - 14px);
        z-index: 99999;
        .md-toc-item:first-of-type {
          border-top: lightgray solid 1px;
        }
        .md-toc-item {
          border-bottom: lightgray solid 1px;
          font-size: 34px;
        }
        .md-toc-item p {
          padding-bottom: 5px;
          padding-left: 0;
          padding-top: 7px;
        }
        .md-toc-h1 {
          padding-left: 8px;
          width: calc(100% - 18px);
        }
        .md-toc-h2 {
          padding-left: 24px;
          width: calc(100% - 34px);
        }
        .md-toc-h3 {
          padding-left: 40px;
          width: calc(100% - 50px);
        }
        .md-toc-h4 {
          padding-left: 56px;
          width: calc(100% - 66px);
        }
        .md-toc-h5 {
          padding-left: 64px;
          width: calc(100% - 82px);
        }
        .highlight {
          font-style: oblique;
        }
      }
    }
  }

  #content-wrap {
    height: 100%;
    position: fixed;
    overflow: hidden;
    width: calc(100% - 16px);
    z-index: 4999;
  }

  #content {
    height: auto;
    width: calc(100% - 20px);
    a {
      color: #92a611;
      text-decoration: none;
    }
    script {
      display: none !important;
    }
  }

  header {
    text-decoration: underline;
  }

  #md-toc-items-wrap, #content-wrap {
    .iScrollVerticalScrollbar {
      opacity: 0.67;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      z-index: 9999;
      .iScrollIndicator {
        border: 1px solid dimgrey;
        border-radius: 2px;
        margin: 0;
        position: absolute;
        width: calc(100% - 12px);
        right: 0;
      }
    }
  }

  #md-toc-items-wrap {
    .iScrollVerticalScrollbar {
      height: calc(100% - 8px);
      margin-top: 8px;
    }
  }

  #content-wrap {
    .iScrollVerticalScrollbar {
      height: 100%;
    }
  }
}

#back {
  display: none;
  height: 100%;
  width: calc(100% - 16px);

  label {
    display: none;
  }
  input {
    width: calc(100% - 10px);
    margin-bottom: 10px;
  }
  textarea, .CodeMirror {
    font-family: monospace;
    font-size: 11px;
    height: calc(100% - 116px);
    width: calc(100% - 4px);
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    .done {
      line-height: 26px;
      margin-bottom: 10px;
    }
  }
}
